{% extends '@Main/base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

{% for medium in media %}
		<div>
			<img src="{{ asset(medium.path) }}" alt="challenge">
			<p>proposed by {{ medium.user.username }}</p>
			<a href="{{ path('main_see_propositions_valid', {'id': medium.id}) }}">
				<button>
					That's it !
				</button>
			</a>
			<a href="{{ path('main_see_propositions_false', {'id': medium.id}) }}">
				<button>
					Nop, you're wrong kiddo
				</button>
			</a>
		</div>
		
	{% endfor %}

<a href="{{ path('main_homepage') }}">Return to homepage</a>

{% endblock %}