{% extends '@Main/base.html.twig' %}

{% block body %}

    {% include 'MainBundle::header.html.twig' %}

    <a href="{{ path('main_homepage') }}">
        I tought I had a good idea, but meh. <br> Take me to the homepage
    </a>

    <div id="newWrapper">
        <div id="newMedium">
            <h1>Creating the new chalenge</h1>

            {{ form_start(form) }}
                    {{ form_widget(form.file) }}
                    <img id="newUpload" src="#" alt="Your file preview"/>
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/main/scripts/displayUploadedImage.js') }}"></script>
{% endblock %}